:host {
  @keyframes ants {
    to {
      background-position: 100% 100%
    }
  }

  /* TODO: learn how it works */
  ::ng-deep .online .mat-list-text {
    padding: 0.5em;
    border: 3px solid transparent;
    background: linear-gradient(white, white) padding-box,
    repeating-linear-gradient(-45deg, indigo 0, pink 25%, transparent 0, transparent 50%) 0 / 1em 1em;
    animation: ants 24s linear infinite;
  }

  .brevet {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  /* condensed spacing */
  .brevet-list-item ::ng-deep .mat-list-item-content {
    padding-left: 0.2em;
    padding-right: 0.2em;

    .mat-list-text {
      padding-left: 0.2em;
      padding-right: 0.2em;
    }
  }
}
