:host {

  min-width: 320px;

  .outer-container {
    overflow:hidden;
    position:relative;
  }

  .inner-container {
    position:relative;
    /* aspect ratio 4:3 */
    padding-top: 75%;
    overflow:visible;
  }

  iframe {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    height:100%;
  }
}
