:host {
  .map::ng-deep {
    width: 100%;
    height: 100%;
    min-height: 300px;

    span.mapboxgl-ctrl-icon {
      margin: 0;
    }

    .popup {
      .mapboxgl-popup-content {
        background-color: #34c2ff61;
      }

      .mapboxgl-popup-tip {
        border-top-color: #34c2ff61;
      }
    }
  }
}
