<mat-list-item *ngIf="checkpoint">
  <button mat-icon-button *ngIf="auth.isAdmin" (click)="deleteCheckpoint(checkpoint.uid)">
    <mat-icon>delete_forever</mat-icon>
  </button>
  <a [title]="checkpoint.displayName || checkpoint.name" [routerLink]="['/brevet',
   checkpoint.brevet?.uid || 'none', 'checkpoint',
   checkpoint.uid || 'none']">{{checkpoint.displayName || checkpoint.name}}</a>,
  {{checkpoint.distance}} км
  <mat-icon *ngIf="checkpoint.sleep" class="checkpoint-type-icon"
            title="Спальный" svgIcon="icon_bed"></mat-icon>
  <mat-icon *ngIf="checkpoint.selfcheck" class="checkpoint-type-icon"
            title="Самоотметка" svgIcon="icon_qr"></mat-icon>
  <ng-content></ng-content>
</mat-list-item>
