<h2><span>Календарь велоклуба</span>
    <span>«Балтийская звезда»</span></h2>
<div class="brevet-list" [class.admin]="auth.isAdmin">
  <app-brevet-list-item *ngFor="let brevet of newBrevets" [brevet]="brevet" class="brevet-row"></app-brevet-list-item>
</div>
<app-brevet-archive [brevets]="oldBrevets"></app-brevet-archive>
<div class="add-button" *ngIf="auth.isAdmin">
  <app-add-button (click)="addBrevet()"></app-add-button>
</div>
<div class="row"><a title="Участники бреветов" [routerLink]="['/riders']">Список участников</a></div>
