<div class="map" id="mapbox"></div>
<div class="row controls">
  <mat-form-field appearance="fill">
    <mat-label>Выберите точку</mat-label>
    <mat-select [formControl]="checkpointControl" required>
      <mat-option *ngFor="let cp of checkpointsAround" [value]="cp.uid">
        {{cp?.displayName}}, {{cp?.distance}} км
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close cdkFocusInitial>Закрыть</button>
    <button mat-raised-button [mat-dialog-close]="checkpointControl.value"
            [disabled]="!checkpointControl.valid">Отправить
    </button>
  </mat-dialog-actions>
</div>
