:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .mat-form-field {
    margin-left: 5px;
  }

  .mat-cell,
  .mat-header-cell {
    padding: 0 10px;
  }

  p {
    align-items: center;
  }

  button {
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .baltic-star {
    background-color: #f79c10;
  }

  .facebook {
    background-color: #3b5998;
  }

  button:disabled {
    background-color: lightgray;
  }

  .provider-button {
    min-width: 36px;
    padding: 0;
  }
}
