<h2>Участник
  <app-editable (update)="updateField('firstName')">
    <ng-template appViewMode>
      <span [attr.data-editable]="isEditable">{{rider?.firstName || '?'}}</span>
    </ng-template>
    <ng-template appEditMode *ngIf="isEditable">
      <mat-form-field>
        <mat-label>Имя</mat-label>
        <input matInput [formControl]="formGroup?.get('firstName')"
               value="{{rider?.firstName}}" size="15"
               placeholder="Иван">
      </mat-form-field>
    </ng-template>
  </app-editable>
  <app-editable (update)="updateField('lastName')">
    <ng-template appViewMode>
      <span [attr.data-editable]="isEditable">{{rider?.lastName || '?'}}</span>
    </ng-template>
    <ng-template appEditMode *ngIf="isEditable">
      <mat-form-field>
        <mat-label>Фамилия</mat-label>
        <input matInput [formControl]="formGroup?.get('lastName')"
               value="{{rider?.lastName}}" size="15"
               placeholder="Петров">
      </mat-form-field>
    </ng-template>
  </app-editable>
</h2>
<div class="row">Карточка №
  <app-editable (update)="updateField('code')">
    <ng-template appViewMode>
      <span [attr.data-editable]="isEditable">{{rider?.code || '?'}}</span>
    </ng-template>
    <ng-template appEditMode *ngIf="isEditable">
      <mat-form-field>
        <mat-label>Номер</mat-label>
        <input matInput [formControl]="formGroup?.get('code')"
               value="{{rider?.code}}" size="15"
               placeholder="001234">
      </mat-form-field>
    </ng-template>
  </app-editable>
</div>
<div class="code">
  <qrcode *ngIf="isEditable && url" [qrdata]="url" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
  <ngx-barcode6 *ngIf="!isEditable || !url" [bc-format]="'CODE128'" [bc-value]="rider?.code || rider?.uid" [bc-display-value]="true"></ngx-barcode6>
</div>

<div class="row" *ngIf="!isEditable">Год рождения: {{(rider?.birthDate?.toDate() | date: 'yyyy') || '?'}}</div>
<div class="row" *ngIf="isEditable">День рождения:
  <app-editable (update)="updateField('birthDate')">
    <ng-template appViewMode>
      <span [attr.data-editable]="isEditable">{{(rider?.birthDate?.toDate() | date: 'shortDate') || '?'}}</span>
    </ng-template>
    <ng-template appEditMode *ngIf="isEditable">
      <mat-form-field>
        <mat-label>Дата</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="formGroup.get('birthDate')"
               placeholder="23/12/1967">
      </mat-form-field>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </ng-template>
  </app-editable>
</div>
<div class="row">Откуда:
  <app-editable (update)="updateField('city')">
    <ng-template appViewMode>
      <span [attr.data-editable]="isEditable">{{rider?.city || '?'}}</span>
    </ng-template>
    <ng-template appEditMode *ngIf="isEditable">
      <mat-form-field>
        <mat-label>Город</mat-label>
        <input matInput [formControl]="formGroup?.get('city')"
               value="{{rider?.city || '?'}}" size="15"
               placeholder="Санкт-Петербург">
      </mat-form-field>
    </ng-template>
  </app-editable>,
  <app-editable (update)="updateField('country')">
    <ng-template appViewMode>
      <span [attr.data-editable]="isEditable">{{rider?.country || '?'}}</span>
    </ng-template>
    <ng-template appEditMode *ngIf="isEditable">
      <mat-form-field>
        <mat-label>Страна</mat-label>
        <input matInput [formControl]="formGroup?.get('country')"
               value="{{rider?.country || '?'}}" size="15"
               placeholder="Россия">
      </mat-form-field>
    </ng-template>
  </app-editable>
</div>

<h3 *ngIf="auth.isLoggedIn">Журнал</h3>
<table mat-table [dataSource]="barcodes" *ngIf="auth.isLoggedIn">
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Дата </th>
    <td mat-cell *matCellDef="let barcode"> {{barcode.time.toDate() | date:'dd/MM HH:mm'}} </td>
  </ng-container>
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> КП </th>
    <td mat-cell *matCellDef="let barcode"> {{barcode.name || barcode.code}} </td>
  </ng-container>
  <mat-text-column name="message" headerText="Статус"></mat-text-column>
  <tr mat-header-row *matHeaderRowDef="barcodeColumnsToDisplay; sticky: true"></tr>
  <tr mat-row *matRowDef="let barcode; columns: barcodeColumnsToDisplay"></tr>
</table>
