<h2>Бревет <span>{{checkpoint?.brevet?.name}}</span></h2>
<p>Длина маршрута <span>{{checkpoint?.brevet?.length}}</span> км</p>
<h3>
  <app-editable (update)="updateField('displayName')">
    <ng-template appViewMode>
      <span [attr.data-editable]="auth.isAdmin">{{checkpoint?.displayName}}</span>
    </ng-template>
    <ng-template appEditMode *ngIf="auth.isAdmin">
      <input matInput [formControl]="formGroup?.get('displayName')" value="{{checkpoint?.displayName}}" size="15">
    </ng-template>
  </app-editable>

  <mat-icon *ngIf="!auth.isAdmin && checkpoint?.sleep" class="checkpoint-type-icon"
            title="Спальный" svgIcon="icon_bed"></mat-icon>
  <mat-button-toggle *ngIf="auth.isAdmin" class="checkpoint-type-button"
                     [checked]="checkpoint?.sleep"
                     (change)="updateSleep($event)">
    <mat-icon title="Спальный" svgIcon="icon_bed"></mat-icon>
  </mat-button-toggle>

  <mat-icon *ngIf="!auth.isAdmin && checkpoint?.selfcheck" class="checkpoint-type-icon"
            title="Спальный" svgIcon="icon_qr"></mat-icon>
  <mat-button-toggle *ngIf="auth.isAdmin" class="checkpoint-type-button"
                     [checked]="checkpoint?.selfcheck"
                     (change)="updateSelfCheck($event)">
    <mat-icon title="Спальный" svgIcon="icon_qr"></mat-icon>
  </mat-button-toggle>
</h3>
<p>Дистанция:
  <app-editable (update)="updateField('distance')">
    <ng-template appViewMode>
      <span [attr.data-editable]="auth.isAdmin">{{checkpoint?.distance}}</span>
    </ng-template>
    <ng-template appEditMode *ngIf="auth.isAdmin">
      <input matInput [formControl]="formGroup?.get('distance')" type="number" value="{{checkpoint?.distance}}" size="5">
    </ng-template>
  </app-editable>
  км</p>
<div class="coordinates">Координаты:
  <span>{{checkpoint?.coordinates?.latitude || 0 | number: '1.1-4'}},
    {{checkpoint?.coordinates?.longitude || 0 | number: '1.1-4'}}</span>
  <button mat-raised-button (click)="showMap()">
    <mat-icon>map</mat-icon>
    Карта
  </button>
</div>

<h3>Отметки участников</h3>
<table mat-table [dataSource]="riders">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Имя </th>
    <td mat-cell *matCellDef="let rider"> {{rider.name || rider.uid}} </td>
  </ng-container>
  <ng-container matColumnDef="in">
    <th mat-header-cell *matHeaderCellDef> Приехал </th>
    <td mat-cell *matCellDef="let rider"> {{rider.in.toDate() | date:'dd/MM HH:mm'}} </td>
  </ng-container>
  <ng-container matColumnDef="out">
    <th mat-header-cell *matHeaderCellDef> Уехал </th>
    <td mat-cell *matCellDef="let rider"> {{rider.out?.toDate() | date:'dd/MM HH:mm'}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="riderColumnsToDisplay; sticky: true"></tr>
  <tr mat-row *matRowDef="let rider; columns: riderColumnsToDisplay"></tr>
</table>

<h3 *ngIf="auth.isLoggedIn">Журнал</h3>
<div class="add-buttons">
  <app-add-button *ngIf="auth.isAdmin" (click)="addBarcode()"></app-add-button>
  <button mat-raised-button *ngIf="auth.isAdmin" (click)="startScanner()">
    <mat-icon>camera_alt</mat-icon>
    Сканировать
  </button>
</div>
<table mat-table [dataSource]="barcodes" *ngIf="auth.isLoggedIn">
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Дата </th>
    <td mat-cell *matCellDef="let barcode"> {{barcode.time.toDate() | date:'dd/MM HH:mm'}} </td>
  </ng-container>
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> Участник </th>
    <td mat-cell *matCellDef="let barcode"> {{barcode.name || barcode.code}} </td>
  </ng-container>
  <mat-text-column name="message" headerText="Статус"></mat-text-column>
  <tr mat-header-row *matHeaderRowDef="barcodeColumnsToDisplay; sticky: true"></tr>
  <tr mat-row *matRowDef="let barcode; columns: barcodeColumnsToDisplay"></tr>
</table>
<!-- mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator -->
<div class="code">
<qrcode *ngIf="auth.isAdmin && url" [qrdata]="url" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
</div>

<app-login-prompt></app-login-prompt>
