:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h3 {
    display: flex;
    align-items: center;
  }

  .mat-cell,
  .mat-header-cell {
    padding: 0 10px;
  }

  .mat-column-select {
    overflow: initial;
  }

  table {
    margin-top: 5px;
  }

  input {
    border: 1px solid;
    padding: 2px;
  }

  .coordinates {
    padding: 0 5px;
  }

  .code {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5px;
    margin-left: 5px;

    .mat-checkbox {
      margin-left: 20px;
    }
  }

  .checkpoint-type-icon {
    margin-left: 5px;
  }

  .checkpoint-type-button {
    margin-left: 5px;

    ::ng-deep .mat-button-toggle-label-content {
      line-height: 24px;
      height: 24px;
      width: 24px;
      padding: 4px;
      margin: 0;
    }

    ::ng-deep .mat-button-toggle-focus-overlay {
      margin: 0;
    }
  }

  .mat-raised-button {
    margin-left: 5px;
  }
}
