:host {
  display: flex;
  flex-direction: column;

  .map {
    width: 100%;
    height: 100%;
    min-height: 300px;
  }

  .controls {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    .mat-form-field {
      flex-grow: 1;
      width: 10ch;
      padding: 4px;
    }

    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0.25em;
    }

    ::ng-deep .mat-form-field-underline {
      bottom: 0.25em;
    }

    .mat-dialog-actions {
      flex-grow: 1;
      justify-content: center;

      button {
        margin: 4px;
      }
    }
  }
}
