<div class="map" id="mapbox"></div>
<div class="row controls">
  <form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Широта</mat-label>
    <input matInput
           type="number" step="0.001"
           formControlName="latitude"
           placeholder="0.0">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Долгота</mat-label>
    <input matInput
           type="number" step="0.001"
           formControlName="longitude"
           placeholder="0.0">
  </mat-form-field>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Закрыть</button>
    <button mat-raised-button [mat-dialog-close]="formGroup?.value"
            *ngIf="auth.isAdmin" cdkFocusInitial>Выбрать
    </button>
  </mat-dialog-actions>
  </form>
</div>
