:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .plotarouteMap {
    margin-left: 5px;
    min-width: 320px;
    width: calc(100vw - 23px);
    max-width: 800px;

    button {
      margin-bottom: 5px;
    }
  }

  a {
    margin-left: 5px;
  }

  p {
    align-items: center;
  }

  .checkpoint-type-icon {
    margin-left: 5px;
  }

  .date-time-picker {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;

    .editable {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 5px;
    }
  }

  .url {
    max-width: calc(100vw - 10ch - 32px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
  }

  .mat-raised-button {
    margin-left: 5px;
    margin-top: 5px;
  }

  .table-container {
    max-width: calc(100vw - 18px);
    max-height: calc(100vh - 44px);
    overflow: auto;
  }

  .mat-header-cell {
    padding-left: 5px;
    padding-right: 2px;
  }

  .distance-cell,
  .mat-cell {
    text-align: center;
    padding: 0 5px;
  }

  .distance-row {
    height: 1.2em;
  }

  .mat-column-name {
    min-width: 150px;
    text-align: left;
    padding-left: 15px;
  }

  .checkpoint-type-sleep {
    background-color: #d9dfff;
  }

  .checkpoint-type-selfcheck {
    background-color: #e0e0e0;
  }

  button.save {
    margin-bottom: 5px;
  }
}
