:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .plotaroutMap {
    margin-left: 5px;
    min-width: 320px;
    width: calc(100vw - 23px);
    max-width: 800px;

    button {
      margin-bottom: 5px;
    }
  }

  a {
    margin-left: 5px;
  }

  p{
    align-items: center;
  }
  .checkpoint-type-icon {
    margin-left: 5px;
  }
  .date-time-picker {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;

    app-editable {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 5px;
    }
  }

  .url {
    max-width: calc(100vw - 10ch - 32px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
  }

  .table-container {
    max-width: calc(100vw - 18px);
    max-height: calc(100vh - 18px);
    overflow: auto;
  }

  .mat-header-cell {
    padding: 0 5px;
  }
  .mat-cell {
    text-align: center;
    padding: 0 5px;
  }
  .mat-column-name {
    min-width: 150px;
    text-align: left;
    padding-left: 15px;
  }
  .checkpoint-type-sleep {
    background-color: #d9dfff;
  }
  .checkpoint-type-selfcheck {
    background-color: #f7f7f7;
  }
}

