<form [formGroup]="formGroup">
<h2>Бревет
  <app-editable (update)="updateField('name')">
    <ng-template appViewMode>
      <span [attr.data-editable]="auth.isAdmin">{{brevet?.name}}</span>
    </ng-template>
    <ng-template appEditMode *ngIf="auth.isAdmin">
      <input matInput formControlName="name" value="{{brevet?.name}}" size="15">
    </ng-template>
  </app-editable>
</h2>
<div class="row">Длина маршрута
  <app-editable (update)="updateField('length')">
    <ng-template appViewMode>
      <span [attr.data-editable]="auth.isAdmin">{{brevet?.length}}</span>
    </ng-template>
    <ng-template appEditMode *ngIf="auth.isAdmin">
      <input matInput formControlName="length" value="{{brevet?.length}}" size="5" type="number">
    </ng-template>
  </app-editable>
  км</div>
<div class="row date-time-picker">Старт
  <app-editable (update)="updateField('startDate')" class="editable">
    <ng-template appViewMode>
      <span [attr.data-editable]="auth.isAdmin">{{brevet?.startDate?.toDate() | date: 'в HH:mm dd.MM.yyyy'}}</span>
    </ng-template>
    <ng-template appEditMode *ngIf="auth.isAdmin">
      <app-date-time-picker [value]="brevet?.startDate?.toDate()"
                            formControlName="startDate" name="startDate"></app-date-time-picker>
    </ng-template>
  </app-editable>
</div>

<div class="row">Маршрут
  <app-editable (update)="updateField('mapUrl')">
    <ng-template appViewMode>
      <div *ngIf="brevet?.mapUrl" [attr.data-editable]="auth.isAdmin" class="url">{{brevet?.mapUrl}}</div>
      <span *ngIf="!brevet?.mapUrl" [attr.data-editable]="auth.isAdmin">отсутствует</span>
    </ng-template>
    <ng-template appEditMode *ngIf="auth.isAdmin">
      <input matInput formControlName="mapUrl" value="{{brevet?.mapUrl}}" size="15">
    </ng-template>
  </app-editable>
  <a *ngIf="brevet?.mapUrl" [href]="brevet?.mapUrl" target="_blank" title="открыть"><mat-icon>launch</mat-icon></a>
</div>
</form>

<div *ngIf="brevet?.mapUrl" class="plotaroute-map">
  <button mat-raised-button *ngIf="!showMap" (click)="showMap=!showMap"><mat-icon>map</mat-icon>Карта</button>
  <button mat-raised-button *ngIf="showMap"  (click)="showMap=!showMap"><mat-icon>expand_less</mat-icon>Карта</button>
  <button mat-raised-button *ngIf="auth.isAdmin" (click)="importCheckpoints()"><mat-icon>sync</mat-icon>Импорт</button>
  <app-mapbox-route *ngIf="showMap" [checkpoints]="checkpoints" [geoJSON]="geoJSON"></app-mapbox-route>
</div>

<h3 *ngIf="allowCheckIn">Самоотметка</h3>
<div class="row" *ngIf="allowCheckIn">
  <button mat-raised-button (click)="startScanner()">
    <mat-icon>camera_alt</mat-icon>
    Сканировать
  </button>
  <button *ngIf="geoLocation.isLocationAvailable()" mat-raised-button (click)="locateOnMap()">
    <mat-icon>my_location</mat-icon>
    Координаты
  </button>
  <button *ngIf="brevet?.isStarted() && brevet?.endDate" mat-raised-button (click)="startImporting()" title="Connect to Strava">
    <mat-icon svgIcon="icon_strava"></mat-icon>
    Strava
  </button>
</div>

<h3>Контрольные пункты</h3>
<div class="row"><app-add-button *ngIf="auth.isAdmin" (click)="addCheckpoint()"></app-add-button></div>
<mat-list>
  <app-checkpoint-list-item *ngIf="!!checkpoints && checkpoints.length" [checkpoint]="checkpoints[0]">
    <ng-container *ngIf="brevet?.uid && settings.getValue('expand.' + brevet?.uid) else expandButton">
      <button mat-raised-button title="Свернуть" *ngIf="!!checkpoints && checkpoints.length > 3"
              (click)="brevet?.uid && settings.setValue('expand.' + brevet?.uid, false)">
        <mat-icon>expand_less</mat-icon>
        Меньше
      </button>
    </ng-container>
    <ng-template #expandButton>
      <button mat-raised-button title="Развернуть" *ngIf="!!checkpoints && checkpoints.length > 3"
              (click)="brevet?.uid && settings.setValue('expand.' + brevet?.uid, true)">
        <mat-icon>expand_more</mat-icon>
        Больше
      </button>
    </ng-template>
  </app-checkpoint-list-item>
  <ng-container *ngIf="(!!checkpoints && checkpoints.length <= 3) || brevet?.uid && settings.getValue('expand.' + brevet?.uid)">
    <app-checkpoint-list-item *ngFor="let checkpoint of checkpoints?.slice(1, -1)"
                              [checkpoint]="checkpoint"></app-checkpoint-list-item>
  </ng-container>
  <app-checkpoint-list-item *ngIf="!!checkpoints && checkpoints.length > 1"
    [checkpoint]="checkpoints[checkpoints.length - 1]"></app-checkpoint-list-item>
</mat-list>

<h3>Отметки участников</h3>
<button mat-raised-button class="save" *ngIf="auth.isAdmin" (click)="saveResults()"><mat-icon>save</mat-icon>Сохранить</button>
<div class="table-container">
  <table mat-table [dataSource]="progress" matSort [matSortDisableClear]="true">
    <ng-container matColumnDef="name" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header="lastName"> {{columnsToDisplay[0]['name']}} </th>
      <td mat-cell *matCellDef="let rider"><span title="{{rider.code}}">{{rider.name}}</span></td>
    </ng-container>
    <ng-container [matColumnDef]="column.id" *ngFor="let column of columnsToDisplay | slice: 1 ">
      <th mat-header-cell *matHeaderCellDef mat-sort-header
          class="mat-accent {{column.type}}"> {{column.name}} </th>
      <td mat-cell *matCellDef="let rider" [class]="column.type">
        <span title="{{rider[column.id]?.toDate() | date:'dd/MM/yy HH:mm'}}">
          {{rider[column.id]?.toDate() | date:'HH:mm'}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="dist-name" sticky>
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="dist-{{column.id}}" *ngFor="let column of columnsToDisplay | slice: 1">
      <th mat-header-cell class="distance-cell mat-accent {{column.type}}"
          *matHeaderCellDef>{{column.distance}}</th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="firstHeader; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="secondHeader; sticky: true" class="distance-row"></tr>
    <tr mat-row *matRowDef="let rider; columns: firstHeader"></tr>
  </table>
</div>

