<h2 i18n="header|Brevet description">Brevet description</h2>
<app-loading-plug *ngIf="loading else readyBlock"></app-loading-plug>
<ng-template #readyBlock>
  <ng-container *ngIf="brevet else notFound">
    <h3>{{brevet?.name}}
      <button mat-icon-button routerLink="edit"
              i18n-title="title|Button with a edit icon" title="Edit brevet settings"
              i18n-aria-label="label|Button to switch to editing"
              aria-label="Edit button">
        <mat-icon>edit</mat-icon>
      </button>

    </h3>
    <div class="row">
      <span i18n="text|Route length">Route length</span>
      <span>{{brevet?.length}}</span>
      <span i18n="units|Kilometers, short">km</span></div>
    <div class="row">
      <span i18n="text|Start date and time">Start</span>
      <span>{{brevet?.startDate | date: 'medium'}}</span>
    </div>
    <div class="row" *ngIf="brevet?.mapUrl">
      <span i18n="text|Track link">Track link</span>
      <div class="url">
        <a *ngIf="brevet?.mapUrl" [href]="brevet?.mapUrl" target="_blank"
           title="open" i18n-title="title|Open link">
          {{brevet?.mapUrl}}
        </a>
      </div>
      <a *ngIf="brevet?.mapUrl" [href]="brevet?.mapUrl" target="_blank"
         title="open" i18n-title="title|Open link">
        <mat-icon>launch</mat-icon>
      </a>
    </div>

    <h3 i18n="header|Control points">Control points</h3>
    <mat-list>
      <app-checkpoint-list-item *ngIf="brevet?.checkpoints?.length"
                                [checkpoint]="brevet?.checkpoints[0]"></app-checkpoint-list-item>
      <app-checkpoint-list-item *ngFor="let checkpoint of brevet?.checkpoints?.slice(1, -1)"
                                [checkpoint]="checkpoint"></app-checkpoint-list-item>
      <app-checkpoint-list-item *ngIf="brevet?.checkpoints?.length > 1"
                                [checkpoint]="brevet?.checkpoints[brevet?.checkpoints.length - 1]"></app-checkpoint-list-item>
    </mat-list>
  </ng-container>
</ng-template>
<ng-template #notFound>
  <app-not-found-plug></app-not-found-plug>
</ng-template>
