<zxing-scanner
  [autostart]="false"
  [autofocusEnabled]="true"
  [(device)]="currentDevice"
  [formats]="acceptedFormats"
  (camerasFound)="onCamerasFound($event)"
  (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>

<mat-dialog-actions>
  <mat-form-field appearance="standard">
    <mat-label>Выберите камеру</mat-label>
    <mat-select [(value)]="currentDeviceId"
                (selectionChange)="onDeviceSelectChange(currentDeviceId)">
      <mat-option *ngFor="let device of availableDevices"
                  [value]="device.deviceId">{{device.label}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
