:host {
  @media (min-aspect-ratio: 1/1) {
    .scanner {
      width: calc(90vmin - 48px);
    }
  }

  @media (max-aspect-ratio: 1/1) {
    .scanner {
      max-height: calc(90vmax - 200px);
    }
  }

  .mat-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  button {
    margin: 5px;
  }

  .torch {
    line-height: 36px;

    .mat-icon {
      vertical-align: middle;
      margin: 0 5px;
    }
  }
}
