:host {
  margin-top: 5px;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;

    .logo {
      margin: 0;
    }
  }

  .footer {
    flex-wrap: wrap;
  }

  button.login {
    margin-left: 5px;
    margin-bottom: 5px;
  }

  img#strava {
    height: 36px;
    width: 222px;
    margin-bottom: 7px;
  }
}
