@mixin element-menu-item {
  li {
    li.el-menu-item {
      min-width: $menu-min-width;
      padding-right: 20px;
      // engine puts an inline style
      padding-left: 49px !important;
    }
  }
}
