@mixin element-menu-item {
  li {
    li.el-menu-item {
      min-width: $menu-min-width;
      padding-right: 24px;
      // engine puts an inline style
      padding-left: 1em !important;
    }
  }
}
