/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~firebaseui/dist/firebaseui.css';

html,
body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

input {
  font-size: 1rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
  margin-left: 5px;
  font-size: 1.5rem;

  input {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

h3 {
  margin-left: 5px;
  font-size: 1.2rem;

  input {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

div.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 5px;
  margin: 5px;
}

span {
  margin: 0 5px;
}

.mat-snack-bar-container {
  background-color: hotpink;
  color: black;
}

.mat-simple-snackbar-action {
  color: white;
}

span[data-editable="true"] {
  cursor: pointer;
  text-decoration: underline;
}

.firebaseui-container {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .mat-dialog-container {
    background-color: yellow;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media screen and (max-height: 480px) {
  .mat-dialog-container {
    background-color: lightblue;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}
